$max-width: 75rem;

.container {
    max-width: $max-width;
    margin: auto;
    padding: 8rem 0rem;

    .listing {
        margin-bottom: 1.5rem;

        .listing-table {
            border: 1px solid black;
            border-radius: .3rem;
            border-collapse: collapse;
            box-shadow: 2px 2px lightsteelblue;

            .item-row {

                .price-row {
                    width: 3.75rem;
                }
                &:hover {
                    background-color: lightsteelblue;
                    cursor: pointer;
                }
            }
    
            tr {
                border: solid;
                border-width: 1px 0;
            }
    
            th {
                padding: 1rem;
            }
    
            td {
                padding: 1rem;
            }
        }
    }

    .action-buttons {
        border: 1px solid #8181ff;
        background-color: #a0d1e2;
        width: fit-content;
        border-radius: .3rem;
        padding: .5rem 1rem;

        a {
            text-decoration: none;
        }

        &:hover {
            background-color:  #60acc5;
            cursor: pointer;
            
            a {
                color: rgb(215, 215, 215);
            }
        }
    }
}