$max-width: 75rem;

.container {
    max-width: $max-width;
    margin: auto;
    padding: 8rem 0rem;

    .listing {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 2rem;
        padding-left: 0;

        .item {
            flex-basis: 33.333333%;

            .item-content {
                border: 1px solid lightgrey;
                border-radius: .6rem;
                box-shadow: 1px 1px lightsteelblue;
                padding: 2rem;
                margin: 1rem .5rem;

                h3 {
                    text-align: center;
                    margin-top: 0;
                }
    
                p {
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    line-height: 1.25rem;
                    min-height: 5rem;
                }
    
                .price {
                    text-align: center;
    
                    label {
                        font-weight: 600;
                    }
                }   
            }
        }
    }
}