$max-width: 75rem;

.container {
    max-width: $max-width;
    margin: auto;
    padding: 8rem 0rem;

    .listing {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 2rem;
        padding-left: 0;

        .item {
            flex-basis: 33.333333%;

            .item-content {
                border: 1px solid lightgrey;
                border-radius: .6rem;
                box-shadow: 1px 1px lightsteelblue;
                padding: 2rem;
                margin: 1rem .5rem;
                cursor: pointer;

                &:hover {
                    background-color: rgb(175, 234, 234);
                    box-shadow: 2.5px 2.5px lightsteelblue;
                }

                h3 {
                    text-align: center;
                    margin-top: 0;
                }
    
                p {
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    line-height: 1.25rem;
                    min-height: 5rem;
                }
    
                .price {
                    text-align: center;
    
                    label {
                        font-weight: 600;
                    }
                }   
            }
        }
    }

    .item-profile {
        border: 1px solid lightsteelblue;
        border-radius: .6rem;
        box-shadow: 1px 1px lightsteelblue;
        padding: 3rem;
        width: 80%;
        margin: auto;

        h1 {
            margin-top: 0;
        }

        .add-to-basket-button {
            width: fit-content;
            padding: .5rem 1rem;
            border: 1px solid rgb(102, 168, 102);
            border-radius: .6rem;
            background-color: lightgreen;

            &:hover {
                cursor: pointer;
                background-color: rgb(123, 203, 123);
            }
        }
    }

    .go-to-basket-button {
        width: fit-content;
        padding: .5rem 1rem;
        border: 1px solid rgb(102, 168, 102);
        border-radius: .6rem;
        background-color: lightgreen;
        text-decoration: none;
        box-shadow: 1px 1px lightsteelblue;
        margin-left: .5rem;

        &:hover {
            cursor: pointer;
            background-color: rgb(123, 203, 123);
            box-shadow: 2px 2px lightsteelblue;
        }
    }

    .shopping-basket {
        display: flex;
        flex-direction: column;
        width: 80%;
        background-color: rgb(238, 238, 238);
        padding: 2rem 3rem;
        border: 1px solid rgb(0, 187, 255);
        border-radius: 0.6rem;
        box-shadow: 1.5px 1.5px grey;

        .item {
            border-bottom: 1px solid grey;
        }

        .item-content {
            padding: 1rem 0;
        }

        label {
            font-size: 1.25rem;
            font-weight: 600;
        }

        .total {
            padding: 1rem 0rem;
            font-size: 1.125rem;
        }
    }
}